#!/bin/bash
#
# run_attack.sh is a script which executes the attack
#
# Envoronment which runs attacks and defences calls it in a following way:
#   run_attack.sh INPUT_DIR OUTPUT_DIR MAX_EPSILON
# where:
#   INPUT_DIR - directory with input PNG images
#   OUTPUT_DIR - directory where adversarial images should be written
#   MAX_EPSILON - maximum allowed L_{\infty} norm of adversarial perturbation
#

INPUT_DIR=$$1
OUTPUT_DIR=$$2
MAX_EPSILON=$$3

if [ $${MAX_EPSILON} -lt 6 ]
then
  python python/${run_cmd4}.py \
  --input_dir="$${INPUT_DIR}" \
  --output_dir="$${OUTPUT_DIR}" \
  --max_epsilon="$${MAX_EPSILON}" \
  $run_args4
elif [ $${MAX_EPSILON} -lt 10 ]
then
    python python/${run_cmd8}.py \
  --input_dir="$${INPUT_DIR}" \
  --output_dir="$${OUTPUT_DIR}" \
  --max_epsilon="$${MAX_EPSILON}" \
  $run_args8
elif [ $${MAX_EPSILON} -lt 14 ]
then
    python python/${run_cmd12}.py \
  --input_dir="$${INPUT_DIR}" \
  --output_dir="$${OUTPUT_DIR}" \
  --max_epsilon="$${MAX_EPSILON}" \
  $run_args12
else
    python python/${run_cmd16}.py \
  --input_dir="$${INPUT_DIR}" \
  --output_dir="$${OUTPUT_DIR}" \
  --max_epsilon="$${MAX_EPSILON}" \
  $run_args16
fi
